@import url("https://rsms.me/inter/inter.css");

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  overflow: auto;
  background: #000000;
}

body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  color: black;
  -webkit-font-smoothing: antialiased;
}

#root > a {
  position: absolute;
  top: 25px;
  left: 0px;
  transform: scale(1.25);

  @media screen and (min-width: 426px) {
    top: 50px;
    left: 50px;
    transform: scale(1.75);
  }
}
#root > a > svg {
  fill: none;
}
#root > a > svg > path:nth-child(1) {
  fill: none;
}
#root > a > svg > path:nth-child(2) {
  fill: #fff;
}
#root > a > svg > path:nth-child(3) {
  fill: #fff;
}

a {
  pointer-events: all;
  cursor: pointer;
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
